<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<header class="header">
    <a href="index.html" th:href="@{'/'}"><img width="115" height="auto" src="../images/logo.png" alt="logo" th:src="@{/images/logo.png}"></a>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
</header>

<nav class="topnav">
    <ul>
        <li><a href="index.html" th:href="@{'/'}">Home</a></li>
        <li><a href="createItemForm.html" th:href="@{'/item/new'}">Form</a></li>
    </ul>
</nav>

<section>

    <h1 th:text="${action == 'create'} ? 'Create Item' : 'Edit Item'">Create or Edit Item</h1>

    <form method="post" enctype="multipart/form-data" th:object="${item}" th:action="${action} == 'create' ? @{'/item/new'} : @{'/item/' + ${item.id} + '/edit'}">
        <label>Title</label><br>
        <input type="text" id="titolo" th:field="*{title}" required>
        <br><br>
        <label>Author</label><br>
        <select th:field="*{author}" required>
            <option th:each="author : ${authors}" th:value="${author.username}" th:text="${author.username}">Author1</option>
        </select>
        <br>
        <br>
        <label>Type</label><br>
        <select th:field="*{type}" required>
            <option th:each="type : ${types}" th:value="${type.name}" th:text="${type.name}">Type1</option>
        </select>
        <br>
        <br>
        <label>Category</label><br>
        <select th:field="*{category}" required>
            <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">Category1</option>
        </select>
        <br>
        <br>
        <label>Descrizione</label><br>
        <textarea cols="40" rows="5" id="descrizione" th:field="*{description}" required></textarea>
        <br>
        <br>
        <label>Image</label><br>
        <input type="file" name="file" accept="image/jpeg"/>
        <br>
        <br>
        <input type="submit" th:value="${action == 'create'} ? 'Create Item' : 'Edit Item'">
    </form>

    <br>

</section>

<footer>
    <small>Copyright © 2020 - Aleksandar Stojkovski</small>
</footer>

</body>
</html>