<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, metas, content, footer, styles, script)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Aleksandar Stojkovski">
    <base th:href="@{/}">
    <th:block th:replace="${metas}"/>
    <title th:replace="${title}"></title>
    <script th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>
    <script th:src="@{/webjars/popper.js/popper.min.js}"></script>
    <script th:src="@{/webjars/holderjs/holder.min.js}"></script>
    <script th:src="@{/webjars/bs-custom-file-input/dist/bs-custom-file-input.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <th:block th:replace="${styles}"/>
    <th:block th:replace="${script}"/>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" hr><img src="../static/images/logo-guamp-w.png" width="120px" th:src="@{/images/logo-guamp-w.png}" alt="website logo" aria-label="Website Logo"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getServletPath() == '/' ? 'active':''}" th:href="@{/}" aria-label="Home">Home</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:classappend="${#httpServletRequest.getServletPath() == '/item/new' ? 'active':''}" th:href="@{'/item/new'}" href="old/createItemForm.html" aria-label="Create Item">Create</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!--
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="searchInput">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
            </div>
            -->
            <div class="btn-group" sec:authorize="isAuthenticated()">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
                    User
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">My Account</a>
                    <a class="dropdown-item" href="#">My Items</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/logout'}">Logout</a>
                </div>
            </div>
            <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-secondary my-2">
                Login
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </a>
        </ul>
    </nav>
</header>

<main role="main" th:include="${content}">
    <section>
        <h2>CONTENT</h2>
    </section>
</main>

<footer class="text-muted" tabindex="0">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Copyright © 2020 - Aleksandar Stojkovski</p>
    </div>
</footer>

</body>
</html>